.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    

}

button{
    font-size: 50px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}

#resultDisplay{
    background-color: rgb(238, 250, 202);
    width: 200px;
    height: 100px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ansDisplay{
   background-color: rgb(243, 226, 97);
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
} 
